<div class="d-flex justify-content-between">
    <h4>Listagem de Produtos</h4>
    <a href="/produto/create"><i class="bi bi-plus-square-fill fs16"></i></a>
</div>
<table class="table table-light table-striped table-borderless">
    <thead>
        <th>Nome</th>
        <th>Preco</th>
        <th>Opções</th>
    </thead>
    <tbody>
        {{#each produtos}}
        <tr>
            <td>{{nome}}</td>
            <td>{{preco}}</td>
            <td>
                <a href="/produto/{{id}}"><i class="bi bi-eye-fill"></i></a>
                <a href="/produto/update/{{id}}"><i class="bi bi-pencil-fill"></i></a>
                <a href="/produto/remove/{{id}}"><i class="bi bi-trash-fill"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>



